# Database Credentials
DB_USER=bidly_user
DB_PASSWORD=password

# Keycloak Configuration
KEYCLOAK_SERVER_URL=http://bidly-keycloak:8080
KEYCLOAK_REALM=bidly-realm
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_PUBLIC_CLIENT_ID=bidly-client
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_OAUTH2_ISSUER_URI=http://bidly-keycloak:8080/realms/bidly-realm

# Service Datasource URLs
USER_SERVICE_DATASOURCE_URL=jdbc:postgresql://user-service_db:5432/user-service_db
CATALOG_SERVICE_DATASOURCE_URL=jdbc:postgresql://catalog-service_db:5432/catalog-service_db
CORE_SERVICE_DATASOURCE_URL=jdbc:postgresql://core-service_db:5432/core-service_db
